body{
    color: red;
 font-family: 'Times New Roman', Times, serif;
 text-align: left;
}
#container{
width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #000;
margin: 0 auto;

}

#container h1{
    font-size: 20px;
}